body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
}
.section {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
}
#section1 {
    background-color: black;
    flex-basis: 15%;
    color: white;
    text-align: center;
}
#section2 {
    flex-basis: 70%;
    background-color: black;
}
#section3 {
    background-color: black;
    flex-basis: 15%;
    align-content: center;
    align-items: center;
}
.playground {
    text-align: center;
    border: 0.1em solid red;
    display: grid;
    height: 800px;
    width: 800px;
    margin: auto;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
}
.plates {
    border: solid 0.1em black;
}
.wall {
    background-color: darkred;
}